<article class="app-alerts">
    <h2 class="app-alerts__title" ng-click="vm.toggleAlertsView()">
        <span class="app-alerts__title__icon" aria-hidden="true"></span>
        <span class="app-alerts__title__text">Alerts</span>
    </h2>

    <ol class="app-alerts__list">
        <li class="app-alerts__list__item"
            ng-repeat="alert in vm.alerts">
            <span class="app-alerts__list__item__number">{{alert.number}}</span>
            <span class="app-alerts__list__item__text">{{alert.message}}</span>
        </li>
    </ol>
</article>
