$projectName: #0099ff;
/* project row styles */

.project {
    &__name {
        color: $projectName;
        font-size: $h4;
        margin: 0;
    }
    &__wbs {
        font-size: $body-copy;
        font-weight: $regular;
        margin-bottom: 0.5rem;
    }
    &__details {
        position: absolute;
        left: 0;
        width: 20rem;
        padding-top: 1rem;
        padding-right: 2rem;
        z-index: 9;
    }
    &__row {
        width: 100%;
        white-space: nowrap;
    }
    &.is-competency{
        &:not(:first-child) {
            .weekcell,
            .project__details {
                border-top: 2px solid #fff;
            }
        }
        .weekcell{
            margin: 0;
        }
    }

}

.project__detail {
    &-list {
        @extend %no-list;
    }
    &-name {
        @extend %inline-block__valign-top;
        margin-right: 0.5rem;
        &:after {
            content: ':';
        }
    }
    &-value {
        @extend %inline-block__valign-top
    }
}
