@import "../common/directives/practitioner/practitioner";
@import "../common/directives/week-cell/week-cell";
@import "../common/directives/project-row/project-row";

.projects-calendar{
    overflow-x: scroll;
    margin-left: 20rem;
    padding: 2rem 0 0;
    -webkit-overflow-scrolling: touch;

    &:before{
        @extend %shadow;
        left: 19.5rem;
        box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.2);
    }
    &:after{
        content: '';
        @extend %shadow;
        right: -4px;
        box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.2);
    }
}

.weekview-dates{
    @extend %no-list;
    width: 100%;
    white-space: nowrap;
}

.week-date{
    @extend %inline-block__valign-top;
    padding: 0.5rem 2rem;
    min-width: 20rem;
    font-size: $h4;
    margin: 0 3px 5px;
    white-space: normal;

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }
}
