<!-- Site Header -->
<header class="page-header" role="banner">
    <div class="wrap">
        <h1 class="page-header__logo">
            <a href="index.html"><img class="page-header__logo__img" src="{{assets}}/img/app-logo.png" alt=""></a>
        </h1>
        <div class="page-header__right-section">
            {{> navigation }}
        </div>
    </div>
</header>
