.app-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 55px;
    overflow: hidden;
    transition: $transition__default-all;
    background-color: $app-header-bg;

    &::after {
        content: "";
        box-shadow: -1px 0 5px rgba(0,0,0, 0.5);
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        top: 0;
    }

    .has-nav-expanded & {
        width: $nav-width;
    }
}

@import "app-logo/app-logo";
@import "navigation/navigation";
