<header role="banner" class="app-header" ng-mouseenter="vm.toggleNav($event)" ng-mouseleave="vm.toggleNav($event)">
    <!-- logo and collapse/expand button for mobile -->
    <div app-logo></div>

    <!-- navigation -->
    <nav class="app-nav" role="navigation" id="app-nav">
        <ol class="app-nav__main">
            <!-- main nav iterator -->
            <li class="app-nav__main__li {{navLink.hasSubnav}}"
                ng-repeat="navLink in vm.navLinks"
                ng-click="vm.toggleSubnav($event)">

                <a class="app-nav__main__li__a" href="{{navLink.URL}}">
                    <span class="f-icon__nav-{{navLink.icon}} app-nav__main__li__a__icon" aria-hidden="true"></span>
                    <span class="app-nav__main__li__a__text">{{navLink.label}}</span>
                </a>

                <!-- subnav -->
                <ul ng-if="navLink.subnav" class="app-nav__sub">
                    <!-- subnav iterator -->
                    <li class="app-nav__sub__li"
                        ng-repeat="subnavLink in navLink.subnav"
                        ng-click="vm.toggleSubnav($event)">

                        <a class="app-nav__sub__li__a" href="{{subnavLink.URL}}">{{subnavLink.label}}</a>

                    </li>

                </ul>

            </li>

        </ol>
    </nav>
</header>
