// ****************************************
// footer
// ****************************************
.page-footer {
    margin: 40px auto 0;
    width: 80%;
    border-top: 1px solid $border-color;
    padding: 20px 0 50px;

    @include MediaQueries(#{$desktop-and-above}) {
        width: 50%;
    }

    &__copyright {
        margin: 0;
        text-align: center;
        font-size: 1.3rem;
        color: #666;
    }
}
