<footer role="contentinfo" class="page-footer">
    <div class="wrap">
        <p class="page-footer__copyright">
            Copyright (c) 2015 ComtechInfo, All Rights Reserved.
        </p>
    </div>
</footer>
