.practitioner{
    margin: 0.5rem 0;

    &:before{
        content: attr(data-competency);
        display: inline-block;
        margin-right: 3px;
        padding: 2px;
        line-height: 1;
        width: 24px;
        text-align: center;
        border-radius: 2px;
        color: #fff;
    }

    &.is-competency{
        
        &:before{
            content: attr(data-designation);
            text-align: right;
            color:inherit;
        }
    }
    
    &.is-unavailable{
        color: $red;
    }
    
    &.is-staffed{
        color: $gray__light;
    }

    &__name{
        @extend %inline-block__valign-middle;
        width:75px;
        margin-right: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__designation{
        @extend %inline-block__valign-middle;
        width: 30px;
    }
    &__availability{
        @extend %inline-block__valign-middle;
        text-transform: uppercase;
    }

}

// competencies list
$competency: ('UI': #0099ff, 'UX': #00cc66, 'FE': #ff6600, 'CD': #333399, 'CX':#ff9900, 'CW': #9900cc,'QA': #689f38,'SF': #006699, 'EM': #cc3333);

// loop through the competencies and print selectors for each one.
@each $skill, $color in $competency {
    [data-competency="#{$skill}"]:before {
        background-color: $color;
    }
}
