<nav class="page-navigation" data-uimodule="navigation">
    <button class="page-navigation__mobile-menu">
        <span class="page-navigation__mobile-menu__icon" aria-hidden="true"></span>
        <span class="page-navigation__mobile-menu__text">Menu</span>
    </button>
    <ol class="page-navigation__ol">
        <li class="page-navigation__ol__li">
            <span class="page-navigation__ol__li__user-icon"></span>
            <div class="page-navigation__ol__li__user-text">
                <span class="page-navigation__ol__li__greeting-text">Welcome!</span>
                <span class="page-navigation__ol__li__username">Ravi Potturi</span>
            </div>

        </li>
        <li class="page-navigation__ol__li">
            <a href="#" class="page-navigation__ol__li__logout">
                <span class="page-navigation__ol__li__logout__icon"></span>
                <span class="page-navigation__ol__li__logout__text">Logout</span>
            </a>
        </li>
    </ol>
</nav>
