$primary-color   : "#375D81";
$secondary-color : "#ABC8E2";
$tertiary-color  : "#183152";
$quaternary-color: "#F8F8F8";
$quinary-color   : "";
$base-white      : "#fff";
$base-black      : "#000";

body {
    background-color: $quaternary-color;
    color: $tertiary-color;
}
