// Font weights
$light                : 300;
$regular              : 400;
$semi-bold            : 500;
$bold                 : 600;

// Base Font
$base__font-family    : "ProximaNova", Helvetica, Arial, sans-serif;
$base__font-weight    : $regular;
$base__font-size      : 10;
$base__line-height    : 1.4;

// color swatches
$base__text-color: #333;
$red			 : #f44336;	
$gray__light	 : #c6c6c6;
$green			 : #689f38;	

// link colors
$link                 : ;
$visited              : ;
$hover                : ;

// typography
$body-copy            : 1.3rem;
$h1                   : 3.2rem;
$h2                   : 2.6rem;
$h3                   : 2rem;
$h4                   : 1.6rem;
$h5                   : $body-copy;

// animations
$transition__default  : cubic-bezier(0.77, 0, 0.175, 1);
$transition__all-ease : 0.3s ease 0s;
