@import "./projects/projects";
@import "./practitioners/practitioners";
.projects-calendar {
    //transitions on open/close of the practitioner view.
    &.is-practitioner-view-open {
        .practitioners {
            transform: translateY(0%);
        }
        .practitioners-view-handle {
            bottom: 50%;
        }
    }
}

.practitioners-view-handle {
    width: 5.5rem;
    height: 2.5rem;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin: -1.25rem 0 0 -2.25rem;
    background-color: $green;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    cursor: pointer;
    z-index: 99;
    @extend %practitioner-view-transition;
    transition-property: bottom;

    & .icon-arrow {
        margin: auto;
        margin-top: 0.75em; //0.75 when up
        display: block;

        &.down {
            margin-top: 0.35em;
        }
    }
}
