<article class="projects-calendar" ng-class="{'is-practitioner-view-open': vm.isPractitionerViewOpen}">
    <!-- dates -->
    <ul class="weekview-dates">
        <li ng-repeat="weekDate in vm.projects[0].weeks" class="week-date">{{weekDate.week}}</li>
    </ul>
    <!-- projects -->
    <projects projects-list="vm.projects"></projects>
    
    <!-- practitioners view handle-->
    <div class="practitioners-view-handle" ng-click="vm.togglePractitionerView()">
        <icon class="icon-arrow" ng-class="{'down': vm.isPractitionerViewOpen}"></icon>
    </div>

    <!-- practitioners view -->
    <practitioners />

</article>
